$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;


.table-users-container{
  width: 100%;

  .table-users{
    width: 100%;
    tbody{
      tr{
        margin-bottom: 2px;
        cursor: pointer;

        &:hover{
          background: $color-gray-3;
        }
      }
    }

  }
}
