.UserCard-admin{
    display: grid;
    grid-template-rows: 320px 40px;
    width: 100%;
    height: 100%;


    .info-user{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 150px 1fr;
        grid-column-gap: 20px;
        justify-content: center;
        justify-items: stretch;
        align-items: start;
    }

    .button-opportunities{
        display: flex;
        flex-direction: row;
        align-items: center;

        .button-container{
            margin-right: 5px;
        }
    }

}