.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    transform: 0.5s;

    .window {
        width: auto;
        max-width: 800px;
        min-width: 400px;
        height: auto;
        min-height: 50%;
        max-height: 80%;
        overflow: auto;
    }
}
