.edit-page{
  display: grid;
  grid-template-columns: 1fr 160px;
  justify-items: start;
  grid-gap: 5px;

  .edit-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button-container{
      width: 100%;
    }
  }
}