$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;

$scrollbar-width: 10px;

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);

    form {
        width: auto;
        max-width: 800px;
        min-width: 400px;
        height: auto;
        min-height: 50%;
        max-height: 80%;
        overflow: auto;

        .input{
            max-width: none;
        }

        &::-webkit-scrollbar {
            width: $scrollbar-width;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 $scrollbar-width $scrollbar-width $color-gray-3;
            border: solid 3px transparent;
            border-radius: 5px;
        }

        &::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 $scrollbar-width $scrollbar-width $pantone-295-c;
            border: solid 3px transparent;
            border-radius: 5px;
        }
    }
}

