$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;
$transition-time: 0.1s;

.center {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.color-basic {
  background: $color-gray-3;
  border-color: $pantone-289-c;
  color: black;
  transition: $transition-time;

  &:hover {
    background: $pantone-295-c;
    color: white;
    transition: $transition-time;

    * {
      color: white;
    }
  }
}

.color-red {
  background: $pantone-200-c;
  border-color: $pantone-187-c;
  color: black;
  transition: $transition-time;

  &:hover {
    background: $pantone-289-c;
    color: white;
    transition: $transition-time;

    * {
      color: black;
    }
  }
}

.color-mini {
  background: $color-gray-1;
  border-color: $color-gray-3;
  color: black;
  transition: $transition-time;

  &:hover {
    background: $color-gray-3;
    color: black;
    transition: $transition-time;

    * {
      color: black;
    }
  }
}

.button-contener {
  width: 100%;
  height: 30px;
  padding: 0;
  box-sizing: border-box;

  a {
    display: block;
    width: 100%;
    height: 100%;

    .center {
      width: 100%;
      height: 100%;
    }
  }

  .button {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
  }

  input[type="submit"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  textarea {
    display: block;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    min-height: 3em;
  }
}
