$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;

.message {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    min-width: 20%;
    width: max-content;
    background-color: $color-gray-3;
    border-radius: 5px;
    padding: 2px 10px;
    margin-bottom: 10px;

    img {
        max-width: 60%;
        min-width: 20%;
        max-height: 50px;
        min-height: 10px;
    }

    .head {
        font-size: 16px;

        span {
            color: rgb(20, 20, 20);
            font-size: 12px;
            margin: 0 4px;
        }
    }


}