main {
  min-width: 20vw;
  max-width: 50vw;
  width: max-content;
  border: 1px solid black;
}

.ProfileHeader {
  display: flex;
  flex-direction: row;

  .margin-right {
    margin-right: 20px;
  }

  a[role="button"] {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
}

.all-display {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.scroll-fix {
  height: 100vh;
  width: 100vw;
  position: fixed;
  text-align: left;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parts-2-page {
  display: grid;
  grid-template-rows: max-content 1fr;
  align-items: start;
}
