$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;

.calendar {
  $margin-buttom: 25px;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  margin-bottom: $margin-buttom;
  height: calc(100vh - #{$margin-buttom} - 90px);
  width: 100%;
}

