$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;

$margin-buttom: 25px;

.calendar {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-gap: 10px;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  border: 1px solid black;
  margin-bottom: $margin-buttom;
  height: calc(100vh - #{$margin-buttom} - 90px);
  width: 100%;

  .calendar-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: max-content;

    .calendar-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 160px;

      .button-container{
        width: 25px;
        height: 25px;

        .button{
          border-radius: 50%;
          text-align: center;
          font-size: 20px;
          padding: 0;
        }
      }

      .month-name{
        align-self: center;
        justify-self: center;

        span{
          margin: 0 2px;
        }
      }
    }
  }
}

