$pantone-295-c: #002856;
$pantone-289-c: #1f3a60;
$color-gray-1: #ededed;
$color-gray-3: #e0e0e0;
$pantone-200-c: #c11727;
$pantone-187-c: #ae1926;



.chat-list{
    width: 180px;
    min-width: 100px;
    border-radius: 3px;
    height: 100%;
    box-sizing: border-box;
    

    
    &::after{
        content: '';
        border-style: solid;        
        border-color:  $color-gray-3;
        border-width:  0 0 2px 0;

    }
    
    .button-contener{
        margin: 0;
        
    }
    .button {
        border-radius: 0;
        border-width: 2px;
        border-bottom-width: 0;


		
	}
}


.glue-bottom {
    position: sticky;

}
.chat{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;

    .message {
      display: grid;
      grid-template-columns: auto 1fr;

      
    }

    p {
        margin: 0;
    }

    .button-contener{
        width: min-content;
        
        .button{
            border-radius: 50%;
            padding: 0;

        }
    }
}
