.UserCard{
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 20px;
    justify-content: center;
    justify-items: stretch;
    align-items: start;

    .nav{
        width: 100%;
        min-width: 150px;
        max-width: 300px;
    }
}