$background-color: #EDEDED;

body {
    background-color: $background-color;

}

.tile {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    height: min-content;
    // width: 100%;
    box-sizing: border-box;
}

.bgc-grey-1 {
    background-color: $background-color;
}

.bgc-white {
    background-color: white;
}


header {
    display: flex;
    flex-direction: row;
    height: 40px;

    border: 1px solid black;



}

.content-centr {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    height: 100%;
    margin: 0 15px;
}

h4 {
    margin: 0;
}

input {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
}

.menu {
    border-radius: 5px;
    max-width: 200px;
    min-width: 100px;
    height: max-content;
    width: max-content;
    padding: 8px;

    .button {
        border-radius: 2px;
        padding: 4px;
        display: flex;
        align-content: center;
        justify-content: start;

    }
}



.logo {
    // width: 150px;
    // height: 150px;
    border-radius: 50%;
    margin: 0;

    &.norm {
        width: 180px;
        height: 180px;
    }


    &.mini {
        width: 35px;
        height: 35px;
    }

    img {
        width: 100%;
        height: 100%;

    }
}

.column {
    display: flex;
    flex-direction: column;

    * {
        margin: 4px 0;
    }
}

.row {
    display: flex;
    flex-direction: row;

}

.mg-10-auto {
    margin: 10px auto;
}

.mg-0-20 {
    margin: 0 20px;
}

.mg-5-0 {
    margin: 5px 0;
}

.mg-top-10 {
    margin-top: 10px;
}

.mg-buttom-10 {
    margin-bottom: 10px;
}

.mg-0 {
    margin: 0;
}


.grid-col-2 {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    grid-column-gap: 20px;
}

.content {
    margin: 10px 0;

    P {
        margin: 0;

    }
}

// .ionicon {
//     width: 25px;
//     height: 25px;
// }

.icon {

    margin-right: 10px;

    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;

        width: min-content;
        height: min-content;
    }

    p {
        margin: 0;
    }


}

.w-100 {
    width: 100%;
}

.w-200px {
    width: 180px;
}


.col-space-between {
    display: flex;
    flex-direction: column;
    align-content: space-between
}

a:active,
a:hover,
a {
    text-decoration: none;
    color: black;
}