$background-color: #EDEDED;

body {
    background-color: $background-color;
}

.tile {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    height: min-content;
}

.bgc-grey-1 {
    background-color: $background-color;
}

.bgc-white {
    background-color: white;
}


header {
    display: flex;
    flex-direction: row;
    height: 40px;

    border: 1px solid black;



}

.content-centr {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    height: 100%;
    margin: 0 15px;
}

h4 {
    margin: 0;
}

input {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    margin: 5px;
}

.menu {
    border-radius: 5px;
    max-width: 150px;
    min-width: 100px;
    height: max-content;
    padding: 8px;

    .button {
        border-radius: 2px;
        padding: 4px;
        display: flex;
        align-content: center;
        justify-content: start;

    }
}



.logo {
    // width: 150px;
    // height: 150px;
    border-radius: 50%;

    &.norm {
        width: 150px;
        height: 150px;
    }


    &.mini {
        width: 25px;
        height: 25px;
    }

    img {
        width: 100%;
        height: 100%;

    }
}

.column {
    display: flex;
    flex-direction: column;

    * {
        margin: 4px 0;
    }
}

.row {
    display: flex;
    flex-direction: row;

}

.mg-10-auto {
    margin: 10px auto;
}

.mg-0-5 {
    margin: 0 20px;
}

.mg-top-10 {
    margin-top: 10px;
}


.grid-col-2 {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
}

.main-feed {
    width: 100%;
    max-width: 700px;
    min-width: 500px;
}

.content {
    margin: 10px 0;

    P {
        margin: 0;

    }
}

.ionicon{
    width: 25px;
    height: 25px;
}

button{

    &.icon{
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;

        width: min-content;
        height: min-content;
    }
}