$background-color: #ededed;

body {
  background-color: $background-color;
}

.tile {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.bgc-grey-1 {
  background-color: $background-color;
}

.bgc-white {
  background-color: white;
}

header {
  display: flex;
  flex-direction: row;
  height: 40px;

  border: 1px solid black;
}

.content-centr {
  display: flex;
  align-content: center;
  justify-content: center;
}

h1 {
  height: 100%;
  margin: 0 15px;
}

h4 {
  margin: 0;
}

input {
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}

.menu {
  border-radius: 5px;
  max-width: 200px;
  min-width: 100px;
  height: max-content;
  width: max-content;
  padding: 8px;

  .button {
    border-radius: 2px;
    padding: 4px;
    display: flex;
    align-content: center;
    justify-content: start;
  }
}

.column {
  display: flex;
  flex-direction: column;

  * {
    margin: 4px 0;
  }
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content {
  margin: 10px 0;

  P {
    margin: 0;
  }
}



.icon {
  margin-right: 10px;

  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    width: min-content;
    height: min-content;
  }

  p {
    margin: 0;
  }
}


.col-space-between {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}

.image {
  display: block;
  max-width: 100px;
  max-height: 60px;
  width: auto;
  height: auto;
}

.sub-menu {
  display: none;
}
.sub-menu-active {
  display: block;
  z-index: 10;
}
